<html lang="en">
<%-include ('partials/header.ejs')-%>
<body class="text-center">
   <div class="container-fluid">
     <div class="row">
       <div class="col-8 offset-2">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/search">Search</a></li>
                <li class="breadcrumb-item"><a href="/shelf/add">Add Shelf</a></li>
                <li class="breadcrumb-item"><a href="/bundle/add">Add Bundle</a></li>
                <li class="breadcrumb-item"><a href="/bundle/all">All Bundle</a></li>
                <li class="breadcrumb-item"><a href="/shelf/all">All Shelf</a></li>
                <!-- <li class="breadcrumb-item"><a href="shelf">Single Shelf</a></li> -->
                <!-- <li class="breadcrumb-item"><a href="shelves">Kanban System</a></li> -->
          </ol>
        </nav>
       </div>
      </div>
      <div class="row">
        <div class="col-4 offset-4">
          <% if (messages.error) { %>
            <p style="color:red"><%- messages.error %></p>
          <% } %> 
            
          <% if (messages.success) { %>
              <p class="alert alert-success mt-4"><%- messages.success %></p>
          <% } %>  
        </div>
      </div>
       <div class="row">
        <div class="col-8 offset-2">
          <form class="form-signin" action="/bundle/add" method="POST">
            <h2>Kanban System</h2>
            
            <span><b><p>Add Bundle</p></b></span>
              <input type="text" id="rfidBundle" name="id" class="form-control" placeholder="Scan RFID Tag" required="" readonly>
              <input type="text" id="style" name="style" class="form-control" placeholder="Style" required="">
              <input type="text" id="size" name="size" class="form-control" placeholder="Size" required="">
              <input type="text" id="color" name="color" class="form-control" placeholder="Color" required="">
              <input type="text" id="qty" name="qty" class="form-control" placeholder="Quantity" required="">
              <select name="shelfId" id="shelf_id" class="form-control">
                <% for(var i=0;i<data.length;i++){%>
                  <option value="<%=data[i].id %> "><%=data[i].shelfName %> </option>
                <% } %>  
            </select>
            <p> </p>
              <br>
              <button class="btn btn-lg btn-primary btn-block" type="submit">Create</button>
          </form>
         </div>
       </div>
   </div> 
</body>
</html>

<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.1.0/paho-mqtt.js" type="text/javascript"></script>

<script type="text/javascript">
 var mqttBrokerUrl="broker.hivemq.com";
 var ClientID="mycleintID_"+parseInt(Math.random()*100,10);
 var port="8000";
 var topic="rfid/ws/tagNumber";
 var client = new Paho.Client(mqttBrokerUrl, Number(port), ClientID);

client.onConnectionLost = onConnectionLost;
client.onMessageArrived = onMessageArrived;

// connect the client
client.connect({onSuccess:onConnect});

// called when the client connects
function onConnect() {
  // Once a connection has been made, make a subscription and send a message.
  // console.log("onConnect");
  var subTopic="rfid/ws/tagNumber";
  client.subscribe(subTopic);
  // message = new Paho.Message("Hello");
  // message.destinationName = "World";
  // client.send(message);
}

// called when the client loses its connection
function onConnectionLost(responseObject) {
  if (responseObject.errorCode !== 0) {
    console.log("onConnectionLost:"+responseObject.errorMessage);
  }
}

// called when a message arrives
function onMessageArrived(message) {
  console.log("onMessageArrived:"+message.payloadString);
}

 function onConnectionLost(responseObj){
  if(responseObj.errorCode !=0){
    console.log(responseObj.errorMessage)
  }
 }

 function onMessageArrived(message){
   document.getElementById("rfidBundle").value=message.payloadString;
    
   //  return message.payloadString;
 }
 
</script>