<html lang="en">
<%- include ('partials/kanban_partial.ejs') -%>

    <body class="text-center">
        <div class="container-fluid">
            
            <div class="row">
                <div class="col-8 offset-2">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/search">Search</a></li>

                            <li class="breadcrumb-item"><a href="/bundle/add">Add Bundle</a></li>
                            <li class="breadcrumb-item"><a href="/shelf/add">Add Shelf</a></li>
                            <li class="breadcrumb-item"><a href="/bundle/all">All Bundle</a></li>
                            <li class="breadcrumb-item"><a href="/shelf/all">All Shelf</a></li>
                            <li class="breadcrumb-item"><a href="/bundle/kanban">Kanban</a></li>
                            <!-- <li class="breadcrumb-item"><a href="shelves">Kanban System</a></li> -->
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-8 offset-2">
                    <h2>Kanban System</h2>
                </div>
            </div>

            <div class="row">
                <% for(var i=0;i<data.length;i++){ %>
                <div class="col-4 border">
                    <h4><%=data[i].shelfName %> </h4>
                    <table class="table">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" style="background-color: black; color: #fff;"><span> <b>Shelf Tag :</b></span><%=data[i].id %></li>
                            <% for(var j=0;j<data[i].bundles.length;j++){ %>
                                <li class="list-group-item"><span> <b>Bundle Tag :</b></span><%= data[i].bundles[j].id%> </li>
                                <li class="list-group-item"><span> <b>Style :</b></span><%= data[i].bundles[j].style%> </li>
                                <li class="list-group-item"><span> <b>Color :</b></span><%= data[i].bundles[j].color%> </li>
                                <li class="list-group-item"><span> <b>Size :</b></span><%= data[i].bundles[j].size%> </li>
                                <li class="list-group-item"><span> <b>Quantity :</b></span><%= data[i].bundles[j].qty%> </li>
                            <% } %>   
                        </ul>
                    </table>
                </div>
                <% } %>
                
            </div>
        </div>
        </div>
    </body>

</html>